name: Calculator App CI

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - develop
      - develop1
      - 'feature1/*'
      - main
      

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    if: github.actor == 'SaurabhDev2001' || github.base_ref != 'main'
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "8.0.x"

      - name: Restore Dependencies
        run: dotnet restore

      - name: Build Solution
        run: dotnet build --no-restore

      - name: Run Tests
        run: dotnet test --no-build --verbosity normal

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Calculator-build
          path: '**/bin/Debug/net8.0/**'
          retention-days: 30

     
