name: .NET Build & test

on:
  push:
    branches:
      - develop
      - 'feature/*'
  pull_request:
    branches:
      -main
      - develop

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotneet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore 

      - name: Build solution
        run: donet build --no-restore

      - name: Run unit tests
        run: dotnet test --no-build
     
  
