# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: 
      -develop
      - 'feature/*'
  pull_request:
    branches: 
      -main
      -develop

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name:  checkout code
      uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name:  Find Solution File
      id:  find-sln
      run:  |
        SOLUTION=$(find . -name "*sln" | head -n 1)
          echo "solution=$SOLUTION" >> $GITHUB_ENV
    - name: Restore dependencies
      run: dotnet restore $ solution
    - name: Build
      run: dotnet build $solution --configuration Release
    - name: Test
      run: dotnet test $solution --configuration Release --no-build --verbosity normal --logger "trx;LogFileName=test_results.trx"
