name: Testing SonarCloud

on: 
  workflow_dispatch:
  push:
    branches:
      - develop
  
jobs:
  call-sonar-workflow:
    uses: ./.github/workflows/sonar.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
